<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form page</title>
</head>
<body>
<h2>Triples Form</h2>

<div class="container">
<form method="post" id="personForm" >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
</div>

</body>
</html>






















<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>forms</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    </head>
<body>
    <div class="container">
        <h1>fill out the form</h1>
        <form method="POST">
            {{form.as_p}}
        </form>
        
    </div>
    
</body>
</html>-->