<!DOCTYPE html>   
 {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cyber Security | Knowledge Graphs</title>
    <link rel="shortcut icon" type="x-icon" href="{% static 'img/window_icon.jpg' %}">
    <script src="https://kit.fontawesome.com/15566cc30e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Babylonica&family=Changa+One:ital@1&family=Josefin+Sans:wght@100&family=Philosopher&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'css/mainstyles.css' %}" type='text/css'>
    
    </head>
<body>

    <!--scroll back to top btn-->
    <a class="topbtn" href="#"><i class="fas fa-arrow-up"></i></a>

    <!--navigation bar-->

    <div class="navbar">
        <h1><a href="{% url 'index' %}" class="logo">MATALIX</a></h1>
        <ul class="navlinks">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#graph">Graphs</a></li>
        </ul>
    </div>

    <!--website cover-->

    <header style="background-image: url({% static 'img/cover.jpg' %});">
        <div class="header-content">
            <h1>Cybersecurity <br> Knowledge Graphs  </h1>
            <p>A giant leap for cybersecurity  </p>
            <a href="#graph" class="content-btn" >Get Graph</a>
        </div>
    </header>


    <!--about section-->

    <section id="about">
        <div class="about-1">
            <h1>About Us</h1>
            <br>
            <hr>
                <p>As our Bacholers dissertation, we decided on coducting our research about the interesting topic of the implementation of knowledge 
                    graphs for machine learning in cybersecurity. <br> Get to know more about us and our work through our Mission, our Vision, and our Achievements!
                 </p>
        </div>
        
        <div class="about-2">
            <div class="content-box-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="about-item">
                                <i class="fa fa-book"></i>
                                <h3>MISSION</h3>
                                <hr>
                                <p class="mission">The main objective of this end of bachelors studies project, is to obtain a 
                                    <b>knowledge graph</b> extracted from several popular datasets. This is because, the large 
                                    and diverse amount of data, hides very useful knowledge relations in cybersecurity. 
                                    The strategy adopted is based on <b>RDF graphs</b>, and <b> NoSQL stores </b>.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about-item ">
                                <i class="fa fa-globe"></i>
                                <h3>VISION</h3>
                                <hr>
                                <p class="vision">Nowadays, Data Mining (DM), Machine Learning (ML), and Artificial Intelligence 
                                    (AI) tools are widely applied in cybersecurity, aiming to help produce powerful, 
                                    and intelligent intrusion detection systems.
                                <p> Our vision is to develop a tool, that provides an effective visual representation
                                    for intelligent vulnerability detection, which will support existing Machine Learning 
                                    solutions. This will be done through the use of Knowledge Graphs.</p>
                                   </p> 
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about-item">
                                <i class="fa fa-pencil"></i>
                                <h3>ACHIEVEMENTS</h3>
                                <hr>
                                <p>We were successfully able to: <br> <br>
                                    -	 Develop a cybersecurity knowledge graph obtained from existing datasets. <br> <br>
                                    -	Allow <b> visualisation </b> of different Cybersecurity Knowledge Graphs by admin and non-admin users. <br> <br>
                                    -	Allow <b> modifications </b> to be performed on the Knowledge Graphs by admin users <br> <br>
                                    -	Allow the extraction of information from the Knowledge Graphs by admin users, using a set of
                                     queries. 
                                    </p>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <!--get your graph section-->

    <section id="graph" >
        <div class="graph">
            <div class="gtitle">
                <h1>Get Your Graph!</h1>
                
            </div>
            <div class="row">
                <div class="col">
                    <!--NSL-KDD dataset-->
                    <div class="outline">
                        <div class="card">
                            <img src="{%static 'img\nsl-kdd.jpg' %}" alt="Oops! There Was A Problem">
                            <div class="inf">
                                <h1>NSL-KDD Dataset</h1>
                                <p>
                                    The NSL-KDD dataset consists of network traffic data captured from a simulated environment, 
                                    including various types of intrusive activities. 
                                    <br><br>
                                    This dataset graph representation contains several features 
                                    extracted from network packets, such as connection attributes, protocol-related information, 
                                    and host-based features.
                                    
                                </p>
                                <button type="button" class="content-btn" ><a href="{% url 'triples:form' dataset='NSLKDD'%} " style="text-decoration: none; color: rgb(30, 6, 38); ">Get Graph!</a></button>


                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <!--DNS dataset -->
                    <div class="outline">
                        <div class="card">
                            <img src="{%static 'img\dns.jpg' %}" alt="Oops! There Was A Problem">
                            <div class="inf">
                                <h1>DNS <br> Dataset</h1>
                                <p>The DNS over HTTPS (DoH) dataset contains the collection of data that captures various aspects 
                                    of DoH usage.
                                   <br><br>
                                    This dataset graph representation includes information such as the source IP addresses of DNS queries, the 
                                    corresponding domain names being queried, timestamps of the queries, the DoH resolver used, and 
                                    other relevant metadata.</p>
                                <button type="button" class="content-btn"  ><a href="{% url 'triples:form' dataset='DNS'%}" style="text-decoration: none; color: rgb(30, 6, 38);" >Get Graph!</a></button>
                                
                
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col">
                        <!--Admin feature -->
                        <div class="outline">
                            <div class="card">
                                <img src="{%static 'img\admin.jpg' %}" alt="Oops! There Was A Problem">
                                <div class="inf adminfeature">
                                    <h1>Admin</h1>
                                    <p>Being an admin gives you the ability to connect and change your desired graph.
                                        <br><br>
                                        using the authorised token, you'll be able to run the provided commands using your cmd.
                                    </p>
                                    <button type="button" class="content-btn" onclick="openPopup()" ><a href="#" style="text-decoration: none; color: rgb(30, 6, 38);" >Get Command!</a></button>
                                    
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        
                        </div>
                        
            </div>
            
        </div>
        
    <!--Admin feature commands-->

        <div class="container">             
            <div class="popup" id="popup">
                <img src="{%static 'img\admin-keycard.png' %}" alt="Oops! There Was A Problem">
                <h2>Here are your commands!</h2>
                <p>To perform <b>SELECT</b>, <b>ASK</b> , and <b>CONSTRUCT</b>  Queries use:</p>
                <br>
                <p>curl -X GET "(our current site ip adresse)/api/get/(<b>QUERY</b>)/(graph-name)/(subject)/(predicat)/(object)/"</p>
                <br>
                <p>To be able to perform <b>INSERT</b> , <b>MODIFY</b> , and <b>DELETE</b>  operations use:</p>
                <br>
                <p>curl -X (<b>method</b>) "(our current site ip adresse)/api/put/(<b>QUERY</b>)/(graph-name)/(subject)/(predicat)/(object)/" -H "Authorization: Token (your token key)"
                </p>
                <br>
                <p><b>NOTE!</b></p>
                    <p>Make sure that the method matches with the Query</p> 
                    <br>
                   <p>use:</p>   
                   <br>
                   <p>The <b>POST</b>  method to <b>INSERT</b> </p>
                   <p>The <b>PUT</b>  method to <b>MODIFY</b> </p>
                   <p>The <b>DELETE</b>  method to <b>DELETE</b> </p>  
                
                <h2>Enjoy!</h2>
                <button type="button" onclick="closePopup()">OK</button>
            </div>
    </section>
    
    <!--admin feature commands popup button Javascript-->

   <script>
    let popup = document.getElementById("popup");

    function openPopup(){
        popup.classList.add("open-popup");
    }

    function closePopup(){
        popup.classList.remove("open-popup");
    }
   </script>

    <!--scroll back to top button Javascript--> 

   <script type="text/javascript">
        window.addEventListener('scroll',function(){
            var scroll= document.querySelector('.topbtn')
            scroll.classList.toggle("active", window.scrollY > 500)
        })
   </script>
    
    <!--website footer-->

<footer id="footer">
    <div class="contents">
        <div class="left box">
            <h2>connect</h2>
            <div class="content">
                <p>Connect to follow along and stay updated for behind the scenes content and learn more about MATALIX</p>
                    <div class="social">
                        <a href="https://www.facebook.com/profile.php?id=100092166462291"><span class="fab fa-facebook-f"></span></a>
                        <a href="https://twitter.com/MatalixUniv"><span class="fab fa-twitter"></span></a>
                        <a href="https://www.instagram.com/matalix.univ/"><span class="fab fa-instagram"></span></a>
                        <a href="https://www.linkedin.com/in/matalix-univ-a6888a277/"><span class="fab fa-linkedin"></span></a>
                    </div>
            </div>
        </div>
        <div class="center box">
            <h2>Address</h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Oran, Algeria</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">+213679522407</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">matalix.univ@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <center>
            <span class="far fa-copyright"></span>
            <span class="credit">2023 <a >MATALIX</a>. All Rights Reserved.</span>
        </center>
    </div>
</footer>

</body>
</html>