<!DOCTYPE html>   
 {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css'>
    </head>
<body>
    <div class="navbar">
        <h1><a href="http://127.0.0.1:8000/" class="logo">MX</a></h1>
        <ul class="navlinks">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Graphs</a></li>
            <li ><a class="content-btn" href="#" style="text-decoration: none;" >contact us</a></li>
        </ul>
    </div>
    <header style="background-image: url({% static 'img/cyber.jpg' %});">
        <div class="header-content">
            <h1>Cyber Security <br> Knowledge Graphs  </h1>
            <p>A giant leap for cyber security  </p>
            <a href="#" class="content-btn" style="text-decoration: none;">Get Graph</a>
        </div>

    </header>
    

    <section>
        <div class="graph">
            <div class="gtitle">
                <h1>Get Your Graph!</h1>
            </div>
            <div class="row">
                <div class="col">
                    <!--NSL-KDD dataset-->
                    <div class="outline">
                        <div class="card">
                            <img src="{%static 'img\nsl-kdd2.jpg' %}" alt="Oops! There Was A Problem">
                            <div class="inf">
                                <h1>NSL-KDD Dataset</h1>
                                <p>The NSL-KDD is a dataset that concerns ....</p>
                                <button type="button" class="content-btn" ><a href="http://127.0.0.1:8000/data/form/NSLKDD/ " style="text-decoration: none; color: black; ">Get Graph!</a></button>


                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <!--DNS dataset -->
                    <div class="outline">
                        <div class="card">
                            <img src="{%static 'img\dns.jpg' %}" alt="Oops! There Was A Problem">
                            <div class="inf">
                                <h1>DNS Dataset</h1>
                                <p>The DNS is a dataset that concerns ....</p>
                                <button type="button" class="content-btn"  ><a href="http://127.0.0.1:8000/data/form/DNS/" style="text-decoration: none; color: black;" >Get Graph!</a></button>
                                
                
                            </div>
                        </div>
                    </div>
                    </div>
                
            </div>
        </div>
    </section>
    
    <section class="footer">
        <h5>See Also</h5>
            <div class="socialmedia-icons">
                <a href="https://www.instagram.com/" target="#"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/" target="#"><i class="fa fa-facebook"></i></a>
                <a href="https://www.twitter.com/" target="#"><i class="fa fa-twitter"></i></a>
                <a href="https://www.linkedin.com/" target="#"><i class="fa fa-linkedin"></i></a>
            </div>
    </section>
   


</body>
</html>