*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/*Cover*/

/*Navbar*/
.navbar{
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    padding: 50px 10%;
    transition: ease .40s;
    color: rgb(165, 177, 255);
    margin-bottom: 0px;

}
.logo{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 5px;
    color: rgb(234, 255, 116);
    text-decoration: none;
}


.navlinks{
    display: flex;
    align-items: center;
}
.navlinks a{
    font-size: 20px;
    font-weight: 600;
    padding: 5px 5px;
    border-radius: 4px;
    transition: ease .40s;
    color: rgb(234, 255, 116);
    text-decoration: none;
    
}

.navlinks a:hover{
    background: rgba(234, 255, 116,0.15);                 /*rgb(62, 56, 62); good font colo  rgb(246, 240, 246)r*/
    transition: .5s;
    padding: 8px 8px;
    border-radius: 4px;
    text-decoration: none;
}

.navlinks .content-btn{
    color: white;
    font-weight:500 ;
    background-color: rgba(234, 255, 116,  0.50);
    padding: 10px 10px;
    margin-left: 7px;
}

.navlinks .content-btn:hover{
    background: rgba(234, 255, 116,  0.40);                 /*rgb(62, 56, 62); good font colo  rgb(246, 240, 246)r*/
    color: white; 
    transition: .5s;
    padding: 10px 10px;
    border-radius: 4px;
    text-decoration: none;
}

.navlinks li{
    text-decoration: none;
    margin: 0 30px;
}
ul{
    list-style: none;
    text-decoration: none;
}

/*formpage*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('img/nsl-kdd2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}

.logos{
    font-size: 2em;
    color: aquamarine;

}

.navigation a{
    position: relative;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background: palevioletred;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left ;
    transform: scaleX(1);
}

.navigation .btnform{
    width: 130px;
    height: 50px;
    font-size: 18px;
    padding: 10px 10px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnform:hover{
    background: #fff;
    color: black;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 480px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}


.formbox{
    width: 100%;
    padding: 40px;
}

.formbox h2{
    font-size: 2em;
    color: rgb(13, 29, 67);
    text-align: center;
}

.input-box{
    position: relative;
    width: 98%;
    height: 60px;
    border-bottom: 2px solid rgb(13, 29, 67) ;
    margin: 30px 8px;
    padding-left: 2px;
}

.input-box label{
    position: absolute;
    top: 30%;
    left: 5px;
    transform: translateY(50%);
    font-size: 1em;
    color:rgb(13, 29, 67);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}

.input-box input{
    width: 90%;
    height: 160%;
    font-size: 15px;
    background: transparent;
    border: none;
    outline: none;
}

.input-box input:focus~label, .input-box input:focus~label{
    top: -5px;
}


.remember-forgot{
    font-size: .9em;
    color: rgb(13, 29, 67) ;
    font-weight: 500;
    margin-top:20px ;
    margin-bottom: 20px;
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot a{
    color: rgb(13, 29, 67);
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btnform{
    width: 100%;
    height: 45px;
    background: rgb(13, 29, 67);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

::-webkit-input-placeholder {
    color: rgba(25, 23, 23, 0.5);
 }

 label{
    font-weight: 600;
    font-size: 16px;
    color: rgb(11, 11, 62); 
    
}

.formbox h2{
    font-size: 30px;
    font-weight: 600;
    color: rgb(11, 11, 62);
    

}

.wrapper::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

.wrapper::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
    padding-top: 100px;
}

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 8px 8px;
}

